.glider-arrow {
  position: absolute;
  bottom: 0;
  top: 1020px;
  height: 65px;
  width: 65px;
  background: rgba(255, 255, 255, 0.05);
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
  display: none;
}

@media only screen and (max-width: 960px) {
  .glider-arrow {
    top: 900px !important;
  }
}

@media (hover: hover) {
  .glider-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.card-image {
  height: 90px;
  width: 100%;
}

.card-description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #c4c4c4;
}

.card-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  color: #eeeeee;
}

.card-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #ab528d;
  border: none;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.4s;
}

.card-button:hover {
  opacity: 0.85;
}

.card-button:active {
  transform: scale(0.95);
}
